__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
*.env
.env.*
*.log
.DS_Store
.vscode/
.idea/
*.egg-info/
*.bak
*.swp
*.lock
venv/
.env/
.env.bak
*.ipynb
*.pdf
*.png
*.jpg
*.jpeg
*.gif
node_modules/
*.tgz
